table {
  width: 100%;

  tr td {
    border: 1px solid #ccc;
  }
}

ul {
  min-height: 28px;
  list-style: none;
  padding: 0;
  margin-left: 40px;
}

li {
  list-style: none;
}

.draggable .drag-handle {
  cursor: move;
}

.dropzone {
  padding: 10px;
  border: 1px solid #ccc;
}

.dropzone>* {
  margin-top: 10px;
}

.dropzone .draggable--origin {
  display: block !important;
}

.dropzone .draggable-source--is-dragging {
  background: #ccc;
  color: #ccc;
  border: 2px dashed #ccc;
}

.dropzone .draggable-source--is-dragging>* {
  visibility: hidden;
}